* {

  font-family: Helvetica;
  font-size: 1vw;
  line-height: 1vw;
}

header {
  background-color: #0D1B2A;
  background-image: url('header-image.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 12rem; 
}

nav {
  background-color: #0D1B2A;
  color: #415A77;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav li {
  margin: auto;
}

nav a {
  color: #415A77;
  font-size: 2.7rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.hover-list a:hover {
  color: #fff;
}
body {
  background-color: #415A77;
  margin: 0;
  padding: 0;
}
p{
  color: #ffffff;
  font-size: 1.1em;
  line-height: 1.5em;
}


button {
  background-color: #0D1B2A; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.watch-pair {
  display: flex;
  padding-right: 2rem;
  margin-top: 4rem; /* Or whatever height your navbar is */
  box-sizing: border-box;
}

.text-pair {
  display: flex;
  padding-left: 2rem;
  margin-top: 4rem; /* Or whatever height your navbar is */
  box-sizing: border-box;
}

.watch-text-pair {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem 0;
}

img {
  display: flex;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}


footer {
  background-color: #0D1B2A;
  color: #415A77;
  text-align: center;
  padding: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2
}
